<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page</title>
</head>
<style>
    .container {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 90vh; /* Adjust as needed */
  
}
</style>
<body>
    <div class="container">
        <div class="image-container">
            <img class="image" src="https://cdn.pixabay.com/photo/2021/02/26/16/29/error-404-6052476_1280.png" alt="Centered Image">
        </div>
    </div>

</body>
</html>

<!-- <h1>
    <%= message %>
</h1> -->